*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 14px;
}

body {
	color: #141313;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
