

/**
* @tokens Color
* @presenter Color
*/
$ref-color-gray-0: #ffffff;
$ref-color-gray-5: #f8f8f8;
$ref-color-gray-10: #f1f1f1;
$ref-color-gray-20: #e4e4e4;
$ref-color-gray-30: #d2d2d2;
$ref-color-gray-40: #bababa;
$ref-color-gray-50: #9d9d9d;
$ref-color-gray-55: #8a8a8a;
$ref-color-gray-60: #6e6e6e;
$ref-color-gray-65: #616161;
$ref-color-gray-70: #4d4d4d;
$ref-color-gray-80: #333333;
$ref-color-gray-85: #212121;
$ref-color-gray-90: #161616;
$ref-color-gray-100: #000000;
$ref-color-purple-5: #f5eff9;
$ref-color-purple-10: #e7d8f1;
$ref-color-purple-15: #d2b6e5;
$ref-color-purple-20: #c1a4df;
$ref-color-purple-30: #a87cd5;
$ref-color-purple-50: #8449bf;
$ref-color-purple-55: #6f3ca4;
$ref-color-purple-60: #633096;
$ref-color-purple-70: #542d7c;
$ref-color-purple-90: #351852;
$ref-color-teal-5: #e8f7f5;
$ref-color-teal-10: #d7f4f0;
$ref-color-teal-20: #97cfc7;
$ref-color-teal-50: #00a78f;
$ref-color-teal-60: #098775;
$ref-color-teal-70: #2a6a61;
$ref-color-teal-80: #1a584f;
$ref-color-teal-90: #09352f;
$ref-color-blue-5: #eef4fb;
$ref-color-blue-10: #dceafb;
$ref-color-blue-20: #abc9ed;
$ref-color-blue-40: #5692d7;
$ref-color-blue-50: #4184d2;
$ref-color-blue-60: #2e70bd;
$ref-color-blue-70: #3069ac;
$ref-color-blue-80: #245998;
$ref-color-blue-90: #0f2651;
$ref-color-yellow-5: #fcf6ea;
$ref-color-yellow-10: #f5ead3;
$ref-color-yellow-20: #dabd81;
$ref-color-yellow-50: #d99814;
$ref-color-yellow-60: #bd7f00;
$ref-color-yellow-70: #886a2e;
$ref-color-yellow-80: #725723;
$ref-color-yellow-90: #3d3017;
$ref-color-red-5: #fbf1ef;
$ref-color-red-10: #f9e4e0;
$ref-color-red-20: #d6a499;
$ref-color-red-40: #ee6c4f;
$ref-color-red-50: #c84e33;
$ref-color-red-60: #9c3923;
$ref-color-red-70: #893725;
$ref-color-red-80: #742919;
$ref-color-red-90: #4e1c11;
$toggle-color-background-container-off: #ffffff;
$toggle-color-background-container-offDisabled: #f8f8f8;
$toggle-color-background-container-offInteraction: #ffffff;
$toggle-color-background-slider-off: #d2d2d2;
$toggle-color-background-slider-offDisabled: #e4e4e4;
$toggle-color-border-container-off: #d2d2d2;
$toggle-color-border-container-offDisabled: #e4e4e4;
$toggle-color-border-container-offInteraction: #bababa;
$modal-color-background-overlay: rgba(0, 0, 0, 0.6);
$color-background-primary: #ffffff;
$color-background-secondary: #f8f8f8;
$color-background-tertiary: #f1f1f1;
$color-background-brand-primary: #8449bf;
$color-background-brand-primaryInteraction: #633096;
$color-background-brand-primaryDisabled: #d2b6e5;
$color-background-brand-secondary: #f5eff9;
$color-background-brand-secondaryInteraction: #e7d8f1;
$color-background-brand-secondaryDisabled: #f5eff9;
$color-background-success-primary: #00a78f;
$color-background-success-primaryInteraction: #098775;
$color-background-success-primaryDisabled: #97cfc7;
$color-background-success-secondary: #e8f7f5;
$color-background-success-secondaryInteraction: #d7f4f0;
$color-background-success-secondaryDisabled: #e8f7f5;
$color-background-error-primary: #c84e33;
$color-background-error-primaryInteraction: #9c3923;
$color-background-error-primaryDisabled: #d6a499;
$color-background-error-secondary: #fbf1ef;
$color-background-error-secondaryInteraction: #f9e4e0;
$color-background-error-secondaryDisabled: #fbf1ef;
$color-background-warning-primary: #d99814;
$color-background-warning-primaryInteraction: #bd7f00;
$color-background-warning-primaryDisabled: #dabd81;
$color-background-warning-secondary: #fcf6ea;
$color-background-warning-secondaryInteraction: #f5ead3;
$color-background-warning-secondaryDisabled: #fcf6ea;
$color-background-info-primary: #4184d2;
$color-background-info-primaryInteraction: #2e70bd;
$color-background-info-primaryDisabled: #abc9ed;
$color-background-info-secondary: #eef4fb;
$color-background-info-secondaryInteraction: #dceafb;
$color-background-info-secondaryDisabled: #eef4fb;
$color-background-neutral-primary: #616161;
$color-background-neutral-primaryInteraction: #4d4d4d;
$color-background-neutral-primaryDisabled: #bababa;
$color-background-neutral-secondary: #f1f1f1;
$color-background-neutral-secondaryInteraction: #e4e4e4;
$color-background-neutral-secondaryDisabled: #f1f1f1;
$color-background-premierClub-gradientStart: #ffde6f;
$color-background-premierClub-gradientEnd: #eebe23;
$color-text-primary: #161616;
$color-text-secondary: #4d4d4d;
$color-text-tertiary: #6e6e6e;
$color-text-quaternary: #9d9d9d;
$color-text-inverse: #ffffff;
$color-text-brand-primary: #8449bf;
$color-text-brand-disabled: #d2b6e5;
$color-text-brand-onPrimary: #ffffff;
$color-text-brand-onSecondary: #8449bf;
$color-text-success-primary: #00a78f;
$color-text-success-disabled: #97cfc7;
$color-text-success-onPrimary: #ffffff;
$color-text-success-onSecondary: #00a78f;
$color-text-error-primary: #c84e33;
$color-text-error-disabled: #d6a499;
$color-text-error-onPrimary: #ffffff;
$color-text-error-onSecondary: #c84e33;
$color-text-warning-primary: #bd7f00;
$color-text-warning-disabled: #dabd81;
$color-text-warning-onPrimary: #ffffff;
$color-text-warning-onSecondary: #bd7f00;
$color-text-info-primary: #4184d2;
$color-text-info-disabled: #abc9ed;
$color-text-info-onPrimary: #ffffff;
$color-text-info-onSecondary: #4184d2;
$color-text-neutral-primary: #161616;
$color-text-neutral-disabled: #bababa;
$color-text-neutral-onPrimary: #ffffff;
$color-text-neutral-onSecondary: #161616;
$color-border-primary: #d2d2d2;
$color-border-primaryInteraction: #9d9d9d;
$color-border-secondary: #e4e4e4;
$color-border-secondaryInteraction: #bababa;
$color-border-focus: #abc9ed;
$color-border-brand-primary: #8449bf;
$color-border-brand-secondary: #c1a4df;
$color-border-error-primary: #c84e33;
$color-border-success-primary: #00a78f;
$color-border-warning-primary: #d99814;
$color-border-info-primary: #4184d2;
$color-border-neutral-primary: #9d9d9d;
$card-color-background-primary: #ffffff;
$card-color-background-primaryDisabled: #ffffff;
$card-color-background-secondary: #f8f8f8;
$card-color-background-secondaryDisabled: #f8f8f8;
$card-color-border-base: #e4e4e4;
$card-color-border-elevated: #f1f1f1;
$card-color-border-interaction: #bababa;
$card-color-border-disabled: #f1f1f1;
$leverageSlider-color-background-leverage-1: #00a78f;
$leverageSlider-color-background-leverage-10: #0fa888;
$leverageSlider-color-background-leverage-25: #21a67e;
$leverageSlider-color-background-leverage-50: #33a574;
$leverageSlider-color-background-leverage-100: #45a469;
$leverageSlider-color-background-leverage-200: #5ea25b;
$leverageSlider-color-background-leverage-300: #79a04c;
$leverageSlider-color-background-leverage-400: #809f47;
$leverageSlider-color-background-leverage-500: #909e3f;
$leverageSlider-color-background-leverage-600: #ac9c2e;
$leverageSlider-color-background-leverage-777: #c99a1e;
$leverageSlider-color-background-leverage-800: #c99a1e;
$leverageSlider-color-background-leverage-1000: #d99814;
$leverageSlider-color-background-leverage-2000: #d17324;
$leverageSlider-color-background-leverage-unlimited: #c84e33;
$tooltip-color-background: #161616;

/**
* @tokens FontFamilies
* @presenter FontFamily
*/
$ref-fontFamily-base: Mulish;

/**
* @tokens FontSizes
* @presenter FontSize
*/
$ref-fontSize-xs: 12px;
$ref-fontSize-sm: 14px;
$ref-fontSize-md: 16px;
$ref-fontSize-lg: 18px;
$ref-fontSize-xl: 20px;
$ref-fontSize-2xl: 24px;
$ref-fontSize-3xl: 28px;
$ref-fontSize-4xl: 32px;
$heading-fontSize-xs: 20px;
$heading-fontSize-sm: 24px;
$heading-fontSize-md: 28px;
$heading-fontSize-lg: 32px;
$button-fontSize-xs: 14px;
$button-fontSize-sm: 14px;
$button-fontSize-md: 14px;
$button-fontSize-lg: 15px;
$tag-fontSize-sm: 12px;
$tag-fontSize-md: 12px;
$textParagraph-fontSize-xs: 12px;
$textParagraph-fontSize-sm: 14px;
$textParagraph-fontSize-md: 16px;
$textParagraph-fontSize-lg: 18px;
$fontSize-base: 14px;
$multiSelect-fontSize-multiValueLabel-xs: 12px;
$multiSelect-fontSize-multiValueLabel-sm: 12px;
$multiSelect-fontSize-multiValueLabel-md: 13px;
$multiSelect-fontSize-multiValueLabel-lg: 14px;

/**
* @tokens FontWeights
* @presenter FontWeight
*/
$ref-fontWeight-regular: 400;
$ref-fontWeight-semibold: 600;
$ref-fontWeight-bold: 600;
$button-fontWeight: 600;
$tag-fontWeight: 400;

/**
* @tokens LineHeights
* @presenter LineHeight
*/
$ref-lineHeight-xs: 100%;
$ref-lineHeight-sm: 120%;
$ref-lineHeight-md: 140%;
$ref-lineHeight-lg: 160%;
$text-lineHeight: 100%;
$heading-lineHeight: 120%;

/**
* @tokens Other
* @presenter 
*/
$duration-transition-base: 200ms;

/**
* @tokens Spacing
* @presenter Spacing
*/
$ref-spacing-3xs: 4px;
$ref-spacing-2xs: 8px;
$ref-spacing-xs: 12px;
$ref-spacing-sm: 16px;
$ref-spacing-md: 20px;
$ref-spacing-lg: 24px;
$ref-spacing-xl: 32px;
$ref-spacing-2xl: 40px;
$ref-spacing-3xl: 52px;
$button-spacing-x-xs: 12px;
$button-spacing-x-sm: 16px;
$button-spacing-x-md: 22px;
$button-spacing-x-lg: 26px;
$tag-spacing-x-sm: 12px;
$tag-spacing-x-md: 14px;
$input-spacing-x: 11px;
$multiSelect-spacing-multiValueLabel-x-xs: 5px;
$multiSelect-spacing-multiValueLabel-x-sm: 6px;
$multiSelect-spacing-multiValueLabel-x-md: 8px;
$multiSelect-spacing-multiValueLabel-x-lg: 12px;
$multiSelect-spacing-multiValueLabel-y-xs: 3px;
$multiSelect-spacing-multiValueLabel-y-sm: 3px;
$multiSelect-spacing-multiValueLabel-y-md: 5px;
$multiSelect-spacing-multiValueLabel-y-lg: 8px;

/**
* @tokens Sizing
* @presenter Spacing
*/
$button-sizing-icon-xs: 14px;
$button-sizing-icon-sm: 16px;
$button-sizing-icon-md: 20px;
$button-sizing-icon-lg: 22px;
$inputButton-sizing-height-xs: 32px;
$inputButton-sizing-height-sm: 36px;
$inputButton-sizing-height-md: 44px;
$inputButton-sizing-height-lg: 52px;
$checkboxRadio-sizing-sm: 16px;
$checkboxRadio-sizing-md: 20px;
$checkboxRadio-sizing-lg: 24px;
$tag-sizing-height-sm: 22px;
$tag-sizing-height-md: 26px;
$toggle-sizing-container-md-width: 36px;
$toggle-sizing-container-md-height: 20px;
$toggle-sizing-slider-md: 14px;
$modal-sizing-maxWidth-xs: 420px;
$modal-sizing-maxWidth-sm: 640px;
$modal-sizing-maxWidth-md: 940px;
$modal-sizing-maxWidth-lg: 1200px;
$spinner-sizing-xs: 14px;
$spinner-sizing-sm: 16px;
$spinner-sizing-md: 18px;
$spinner-sizing-lg: 20px;

/**
* @tokens BoxShadow
* @presenter Shadow
*/
$ref-boxShadow-xs:  0 2px 2px 0 rgba(0,0,0,.06);
$ref-boxShadow-sm:  0 4px 10px 0 rgba(0,0,0,.08),  0 2px 4px 0 rgba(0,0,0,.04);
$ref-boxShadow-md:  0 8px 30px 0 rgba(0,0,0,.15),  0 4px 12px 0 rgba(0,0,0,.08);
$ref-boxShadow-lg:  0 20px 50px 0 rgba(0,0,0,.20);
$button-boxShadow-primary:  0 0 0 0 rgba(0,0,0,0);
$modal-boxShadow:  0 20px 50px 0 rgba(0,0,0,.20);
$card-boxShadow:  0 4px 10px 0 rgba(0,0,0,.08),  0 2px 4px 0 rgba(0,0,0,.04);
$tooltip-boxShadow:  0 8px 30px 0 rgba(0,0,0,.15),  0 4px 12px 0 rgba(0,0,0,.08);
$dropdown-boxShadow:  0 8px 30px 0 rgba(0,0,0,.15),  0 4px 12px 0 rgba(0,0,0,.08);

/**
* @tokens BorderRadius
* @presenter BorderRadius
*/
$ref-borderRadius-pill: 999px;
$ref-borderRadius-circle: 50%;
$ref-borderRadius-xs: 4px;
$ref-borderRadius-sm: 6px;
$ref-borderRadius-md: 8px;
$ref-borderRadius-lg: 16px;
$inputButton-borderRadius-xs: 4px;
$inputButton-borderRadius-sm: 6px;
$inputButton-borderRadius-md: 6px;
$inputButton-borderRadius-lg: 6px;
$notice-borderRadius: 6px;
$tag-borderRadius: 999px;
$modal-borderRadius: 16px;
$card-borderRadius: 8px;
$dropdown-borderRadius: 8px;
$menu-borderRadius-item: 6px;

/**
* @tokens BorderWidth
* @presenter Spacing
*/
$button-borderWidth: 1px;
$tag-borderWidth: 1px;
$input-borderWidth: 1px;
$borderWidth-focus: 2px;
$tabs-borderWidth-tab-bottom: 2px;

/**
* @tokens Typography
* @presenter 
*/
$text-regular-lg: 400 18px/100% Mulish;
$text-regular-md: 400 16px/100% Mulish;
$text-regular-sm: 400 14px/100% Mulish;
$text-regular-xs: 400 12px/100% Mulish;
$text-bold-lg: 600 18px/100% Mulish;
$text-bold-md: 600 16px/100% Mulish;
$text-bold-sm: 600 14px/100% Mulish;
$text-bold-xs: 600 12px/100% Mulish;
$paragraphSm-regular-lg: 400 18px/120% Mulish;
$paragraphSm-regular-md: 400 16px/120% Mulish;
$paragraphSm-regular-sm: 400 14px/120% Mulish;
$paragraphSm-regular-xs: 400 12px/120% Mulish;
$paragraphSm-bold-lg: 600 18px/120% Mulish;
$paragraphSm-bold-md: 600 16px/120% Mulish;
$paragraphSm-bold-sm: 600 14px/120% Mulish;
$paragraphSm-bold-xs: 600 12px/120% Mulish;
$paragraphMd-regular-lg: 400 18px/140% Mulish;
$paragraphMd-regular-md: 400 16px/140% Mulish;
$paragraphMd-regular-sm: 400 14px/140% Mulish;
$paragraphMd-regular-xs: 400 12px/140% Mulish;
$paragraphMd-bold-lg: 600 18px/140% Mulish;
$paragraphMd-bold-md: 600 16px/140% Mulish;
$paragraphMd-bold-sm: 600 14px/140% Mulish;
$paragraphMd-bold-xs: 600 12px/140% Mulish;
$paragraphLg-regular-lg: 400 18px/160% Mulish;
$paragraphLg-regular-md: 400 16px/160% Mulish;
$paragraphLg-regular-sm: 400 14px/160% Mulish;
$paragraphLg-regular-xs: 400 12px/160% Mulish;
$paragraphLg-bold-lg: 600 18px/160% Mulish;
$paragraphLg-bold-md: 600 16px/160% Mulish;
$paragraphLg-bold-sm: 600 14px/160% Mulish;
$paragraphLg-bold-xs: 600 12px/160% Mulish;
$heading-regular-lg: 400 32px/120% Mulish;
$heading-regular-md: 400 28px/120% Mulish;
$heading-regular-sm: 400 24px/120% Mulish;
$heading-regular-xs: 400 20px/120% Mulish;
$heading-bold-lg: 600 32px/120% Mulish;
$heading-bold-md: 600 28px/120% Mulish;
$heading-bold-sm: 600 24px/120% Mulish;
$heading-bold-xs: 600 20px/120% Mulish;
